<h4>Post details:</h4>
<p>
  <%= @row['content'] %>
  <br><br>
  <em><span style="color: gray">Added at: <%= @row['created_date'] %></span></em>
</p>
<br>
<h4>Comments:</h4>
 <p>
  <form action="/details/<%= @row['id'] %>" method="POST" role="form">
    <textarea name="content" class="form-control" rows="6" placeholder="Type comment text here"></textarea>
    <br>
    <button type="submit" class="btn btn-success">Add comment</button>
  </form>
</p>
