<h1>Latest posts: </h1>
<% @results.each do |post| %>
  <p>
    <%= post['content'] %>
    <br><br>
    <em><span style="color: gray">Added at: <%= post['created_date'] %></span></em>
  </p>
  <hr>
<% end %>
