<!DOCTYPE html>
<html>
	<head>
		<title>Leprosorium</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/vendor/jquery-1.9.1.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

	</head>
	<body>
		<div class="container">

			<!-- Static navbar -->
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">Leprosorium</a>
			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/">Posts</a></li>
			      <li><a href="/new">New Post</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=username%> <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			            <li><a href="/login/form">Login</a></li>
			            <li class="divider"></li>
			            <li><a href="/logout">Logout</a></li>
			        </ul>
			      </li>

			    </ul>
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
			      <%if @error then %>
			          <div class="alert alert-error"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>

	</div>



  </body>
</html>
