<h1>Add New Post</h1>
<p>
<div class="row">

  <!-- Поле для нового поста -->
  <div class="col-md-8">
    <form action="/new" method="POST" role="form">
      <textarea name="content" class="form-control" rows="6" placeholder="Type post text here"></textarea>
      <br>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  <!-- Боковое меню -->
  <div class="col-md-4">
    <ul>
      <li><a href="#">Тут</a></li>
      <li><a href="#">будет</a></li>
      <li><a href="#">какое-то</a></li>
      <li><a href="#">меню</a></li>
    </ul>
  </div>

</div>
</p>
